<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <h1>About page</h1>
    <%- include('./partials/nav.ejs') %>

    <main>
      <h2>About us</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        ratione possimus non nam adipisci iusto quis, eaque excepturi officiis
        quos aliquid debitis eius quae fugit autem provident mollitia. Voluptas,
        neque!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        ratione possimus non nam adipisci iusto quis, eaque excepturi officiis
        quos aliquid debitis eius quae fugit autem provident mollitia. Voluptas,
        neque!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
        ratione possimus non nam adipisci iusto quis, eaque excepturi officiis
        quos aliquid debitis eius quae fugit autem provident mollitia. Voluptas,
        neque!
      </p>
    </main>
  </body>
</html>
