<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <header>
      <h1>About the app</h1>
    </header>
    <main class="main-about">
      <p>
        The point of this app is to gather and contain recipes, which would be
        appropriate for the Wheel of time series. It might also contain recipes,
        which are mentioned in the same series.
      </p>
      <h2>About the Wheel of Time</h2>
      <p>
        The Wheel of time is a fantasy book series, its world is created by the
        late Robert Jordan. The final three books of the series were written by
        Brandon Sanderson. The Wheel of Time world is huge, complex and, most
        importantly, COMPLETE.
      </p>
      <p>
        The recipes are gathered by me (the app creator), taken from the books
        themselves, or by the Library of TarValon.net.
      </p>
    </main>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
