.recipe-detail {
  display: flex;
  width: 95%;
  height: 80vh;
  margin: 2rem auto 0 auto;
  background-color: #fff;
  box-shadow: var(--box-shadow-default);
}

.recipe-picture {
  flex-basis: 40%;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  overflow: hidden;
}

.recipe-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.recipe-instructions {
  flex-grow: 1;
  padding: 2rem;
}

.recipe-title {
  color: var(--color-details);
  font-size: 3rem;
  font-family: "Merriweather", serif;
}

.delete {
  display: block;
  width: 25px;
}
