.recipes-grid {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 2rem;
  column-gap: 3rem;
}

.recipe-card {
  text-decoration: none;
  color: aliceblue;
}

.img-container {
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.img-container,
.recipe-card-info {
  box-shadow: var(--box-shadow-default);
}

.img-container:before {
  display: block;
  content: "";
  padding-top: 100%;
}

.recipe-card img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.recipe-card-info {
  text-align: center;
  padding: 0.5rem 0;
  margin: 0 auto;
  background-color: #fff;
  width: 85%;
  position: relative;
  top: -1rem;
  z-index: 10;
  border-radius: var(--border-radius);
}

.recipe-card-info .title {
  color: var(--color-details);
  font-size: 2.2rem;
  font-family: "Merriweather", serif;
}

.recipe-card-info .snippet {
  color: var(--color-inactive-text);
}

.no-recipes {
  flex-grow: 1;
  color: var(--color-inactive-text);
}

.no-recipes:before,
.no-recipes::after {
  display: block;
  content: "";
  width: 7.5rem;
  height: 1px;
  background: var(--color-inactive-text);
  margin: 1rem auto;
}
