@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

@import "./variables.css";
@import "./navigation.css";
@import "./main-page.css";
@import "./new-recipe.css";
@import "./detail-view.css";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  font-family: "Open Sans", sans-serif;
  max-width: 100vw;
  min-height: 100vh;
  /* overflow: hidden; */
  background: var(--bg-color-body);
}

header {
  margin: 2rem 0;
}

footer {
  color: var(--color-inactive-text);
  margin-top: auto;
}

header,
footer,
.no-recipes {
  text-align: center;
}

.d-none {
  display: none;
}
