@import "./navigation.css";
@import "./detail-view.css";

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background: #ccc;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  background: 45% 60% / cover no-repeat
    url("https://images.unsplash.com/photo-1466637574441-749b8f19452f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80");
}

.wrapper:before {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  box-shadow: inset 0 0 0 500px rgba(255, 255, 255, 0.35);
  filter: blur(0.5rem);
}

header {
  color: #fff;
  text-align: center;
  margin: 1.5rem 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

input,
textarea {
  width: 60%;
  border: none;
  outline: none;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #eee;
}

footer {
  color: #333333;
  text-align: center;
  margin-top: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
}

.recipe-detail,
header,
.create-form,
.nav-bar,
footer {
  position: relative;
  z-index: 10;
}

.create-form {
  width: 75%;
  height: 60vh;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1rem rgba(20, 20, 20, 0.3);
}

.no-recipes {
  text-align: center;
}
