.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: rgb(145, 94, 70);
}

.nav-bar a {
  font-size: 1.1rem;
  text-decoration: none;
  color: aliceblue;
  position: relative;
  outline: none;
}

.nav-bar a:before {
  display: inline-block;
  content: "";
  height: 2px;
  background: rgb(240, 248, 255, 0.5);
  position: absolute;
  bottom: -0.25em;
  left: 0;
  right: 0;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform 250ms ease-in-out;
}

.nav-bar a:focus::before,
.nav-bar a:hover::before {
  transform: scale(1, 1);
}

.logo a {
  font-size: 1.25rem;
}

.navigation {
  display: flex;
  list-style-type: none;
}

.navigation li {
  margin-left: 2rem;
}
